#importFrom("stats", "predict")  ## otherwise predict in stats does not work
importFrom("arules", "predict", "nitems", "sample", "LIST", "dissimilarity")  ## we get it via arules
importFrom("graphics", "plot") ## we need the generics
import("Matrix")
#importFrom("Matrix", "summary", "image") ## we need the generics
#importClassesFrom("Matrix", "dgCMatrix", "CsparseMatrix")

## exports
export(
		"recommenderRegistry"			### registry
	  )

S3method("print", "recommender_method") ### registry


exportClasses(
		"ratingMatrix",
		"realRatingMatrix",
		"binaryRatingMatrix",
		"Recommender",
		"topNlist",
		"evaluationScheme",
		"confusionMatrix",
		"evaluationResults",
		"evaluationResultList"
		)

exportMethods(
		"coerce",	## setAs
		"evaluate",
		"bestN",
		"nratings",
		"dissimilarity",
		"show",
		"getRuns",
		"getModel",
		"getMatrix",
		"getConfusionMatrix",
		"LIST",
		"avg",
		"plot",
		"evaluationScheme",
		"Recommender",
		"getData",
		"predict",
		"nitems",
		"nusers",
		"colMeans",
		"rowMeans",
		"colCounts",
		"rowCounts",
		"sample",
		"showRatings",
		"image",
		"["
		)

	
