#importFrom("stats", "predict")  ## otherwise predict in stats does not work
importFrom("graphics", "plot") ## we need the generics
import("Matrix")
#importFrom("Matrix", "summary", "image") ## we need the generics
#importClassesFrom("Matrix", "dgCMatrix", "CsparseMatrix")
import("arules")
#importFrom("arules", "predict", "nitems", "sample", "LIST", "dissimilarity", "sort")  ## we get it via arules

## registry uses S3
export("recommenderRegistry")
S3method("print", "recommender_method")

## recommenderlab exports
exportClasses(
		"ratingMatrix",
		"realRatingMatrix",
		"binaryRatingMatrix",
		"Recommender",
		"topNList",
		"evaluationScheme",
		"confusionMatrix",
		"evaluationResults",
		"evaluationResultList"
		)

exportMethods(
		"[",
		"coerce",	## setAs
		"show",
		"plot",
		"image",
		"sample",
		"predict",
		"colMeans",
		"rowMeans",
		"colCounts",
		"rowCounts",
		"LIST",
		"binarize",
		"avg",
		"evaluate",
		"bestN",
		"nratings",
		"nitems",
		"nusers",
		"getRuns",
		"getModel",
		"getData",
		"getConfusionMatrix",
		"dissimilarity",
		"evaluationScheme",
		"Recommender"
		)
