importFrom("arules", "sort")
importFrom("Matrix", "colSums", "rowSums", "crossprod")

## exports
export(
        "recommender_registry",      ### registry
        "evaluation_scheme",
        "evaluation_data",
        "evaluate",
        "recommender",
        "recommender_model",
        "ROCR_prediction",
        "evaluation_list"
      )

S3method(predict, recommender)
S3method(recommender_model, recommender)
S3method(print, recommender)

S3method(print, recommender_method)

S3method(print, evaluation_scheme)

S3method(print, evaluation_results)
S3method(mean, evaluation_results)
S3method(plot, evaluation_results)
S3method(recommender_model, evaluation_results)

S3method(print, evaluation_list)
S3method(mean, evaluation_list)
S3method(plot, evaluation_list)
S3method("[", evaluation_list)

